### 0. Data

In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel("Paris airbnb listing.xlsx")
df.head()

In [ ]:
cols= df.columns.tolist()
print(cols)

['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [ ]:
# drop unnecessary columns
drop_cols = ['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 
             'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 
             'host_location', 'host_about', 'host_thumbnail_url','host_picture_url','host_neighbourhood',
               'host_verifications','neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
               'latitude', 'longitude', 'beds', 'has_availability', 'calendar_last_scraped',  'first_review',
               'last_review','estimated_revenue_l365d','license','calendar_updated',]

In [ ]:
df2 = df.drop(columns=drop_cols)
df2.columns.tolist()

['host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'availability_eoy',
 'number_of_reviews_ly',
 'estimated_occupancy_l365d',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [ ]:
df2.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,room_type,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,within an hour,100%,100%,f,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.08
1,within an hour,100%,95%,f,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,4.81,4.85,4.95,4.59,f,1,1,0,0,2.32
2,within an hour,100%,67%,t,1.0,10.0,t,t,Entire rental unit,Entire home/apt,...,4.92,4.89,4.94,4.74,f,1,1,0,0,2.20
3,NaN,NaN,NaN,f,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.03
4,NaN,NaN,NaN,f,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [ ]:
df_cols = df2.columns.tolist()
df_cols[3]

'host_is_superhost'

In [ ]:
cols1 = [df_cols[3]] + df_cols[:3] + df_cols[4:]

In [ ]:
df2 = df2[cols1]
df2.head()

,host_is_superhost,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,room_type,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,f,within an hour,100%,100%,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.08
1,f,within an hour,100%,95%,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,4.81,4.85,4.95,4.59,f,1,1,0,0,2.32
2,t,within an hour,100%,67%,1.0,10.0,t,t,Entire rental unit,Entire home/apt,...,4.92,4.89,4.94,4.74,f,1,1,0,0,2.20
3,f,NaN,NaN,NaN,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.03
4,f,NaN,NaN,NaN,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [ ]:
df2.shape

(84055, 47)

In [ ]:
df2['host_is_superhost'].value_counts()

host_is_superhost
f    65032
t    17195
Name: count, dtype: int64

### 1. Data Preprocessing

#### 1.1 Missing Values

In [ ]:
print(df2.columns)

Index(['host_is_superhost', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_listings_count',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bathrooms_text', 'bedrooms', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84055 entries, 0 to 84054
Data columns (total 47 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_is_superhost                             82227 non-null  object
 1   host_response_time                            52663 non-null  object
 2   host_response_rate                            52663 non-null  object
 3   host_acceptance_rate                          57913 non-null  object
 4   host_listings_count                           84029 non-null  float64
 5   host_total_listings_count                     84029 non-null  float64
 6   host_has_profile_pic                          84029 non-null  object
 7   host_identity_verified                        84029 non-null  object
 8   property_type                                 84055 non-null  object
 9   room_type                                     84055 non-null  object
 10  accommodates                                  84055 non-null  int64
 11  bathrooms                                     54297 non-null  float64
 12  bathrooms_text                                83982 non-null  object
 13  bedrooms                                      76918 non-null  float64
 14  amenities                                     84055 non-null  object
 15  price                                         53963 non-null  object
 16  minimum_nights                                84055 non-null  int64
 17  maximum_nights                                84055 non-null  int64
 18  minimum_minimum_nights                        84055 non-null  int64
 19  maximum_minimum_nights                        84055 non-null  int64
 20  minimum_maximum_nights                        84055 non-null  int64
 21  maximum_maximum_nights                        84055 non-null  int64
 22  minimum_nights_avg_ntm                        84055 non-null  float64
 23  maximum_nights_avg_ntm                        84055 non-null  float64
 24  availability_30                               84055 non-null  int64
 25  availability_60                               84055 non-null  int64
 26  availability_90                               84055 non-null  int64
 27  availability_365                              84055 non-null  int64
 28  number_of_reviews                             84055 non-null  int64
 29  number_of_reviews_ltm                         84055 non-null  int64
 30  number_of_reviews_l30d                        84055 non-null  int64
 31  availability_eoy                              84055 non-null  int64
 32  number_of_reviews_ly                          84055 non-null  int64
 33  estimated_occupancy_l365d                     84055 non-null  int64
 34  review_scores_rating                          64498 non-null  float64
 35  review_scores_accuracy                        64486 non-null  float64
 36  review_scores_cleanliness                     64489 non-null  float64
 37  review_scores_checkin                         64479 non-null  float64
 38  review_scores_communication                   64488 non-null  float64
 39  review_scores_location                        64480 non-null  float64
 40  review_scores_value                           64479 non-null  float64
 41  instant_bookable                              84055 non-null  object
 42  calculated_host_listings_count                84055 non-null  int64
 43  calculated_host_listings_count_entire_homes   84055 non-null  int64
 44  calculated_host_listings_count_private_rooms  84055 non-null  int64
 45  calculated_host_listings_count_shared_rooms   84055 non-null  int64
 46  reviews_per_month                             64498 non-null  float64
dtypes: float64(14), int64(21), object(12)
memory usage: 30.1+ MB

In [ ]:
df2.isnull().sum()

host_is_superhost                                1828
host_response_time                              31392
host_response_rate                              31392
host_acceptance_rate                            26142
host_listings_count                                26
host_total_listings_count                          26
host_has_profile_pic                               26
host_identity_verified                             26
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       29758
bathrooms_text                                     73
bedrooms                                         7137
amenities                                           0
price                                           30092
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
availability_eoy                                    0
number_of_reviews_ly                                0
estimated_occupancy_l365d                           0
review_scores_rating                            19557
review_scores_accuracy                          19569
review_scores_cleanliness                       19566
review_scores_checkin                           19576
review_scores_communication                     19567
review_scores_location                          19575
review_scores_value                             19576
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               19557
dtype: int64

In [ ]:
# 1. Drop rows with missing target values
df2.dropna(subset=['host_is_superhost'], inplace=True)

In [ ]:
# 2. Handle missing values in 'host_response_time' by filling with 'Unknown'
df2['host_response_time'].value_counts()

host_response_time
within an hour        30644
within a few hours    10349
within a day           7301
a few days or more     2928
Name: count, dtype: int64

In [ ]:
df2['host_response_time'].fillna('Unknown', inplace=True)
df2.head()

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/2871519219.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_response_time'].fillna('Unknown', inplace=True)

,host_is_superhost,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,room_type,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,f,within an hour,100%,100%,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.08
1,f,within an hour,100%,95%,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,4.81,4.85,4.95,4.59,f,1,1,0,0,2.32
2,t,within an hour,100%,67%,1.0,10.0,t,t,Entire rental unit,Entire home/apt,...,4.92,4.89,4.94,4.74,f,1,1,0,0,2.20
3,f,Unknown,NaN,NaN,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.03
4,f,Unknown,NaN,NaN,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [ ]:
# 3. Handle missing values in 'host_response_rate'

In [ ]:
# Convert 'host_response_rate' to numeric
df2['host_response_rate'] = df2['host_response_rate'].str.rstrip('%').astype('float') / 100

In [ ]:
df2['host_response_rate'].describe()

count    51222.000000
mean         0.915745
std          0.219213
min          0.000000
25%          0.970000
50%          1.000000
75%          1.000000
max          1.000000
Name: host_response_rate, dtype: float64

In [ ]:
df2['host_response_rate_missing'] = df2['host_response_rate'].isna().astype(int)
df2['host_response_rate'] = df2['host_response_rate'].fillna(0)

In [ ]:
# 4. Handle missing values in 'host_acceptance_rate'
df2['host_acceptance_rate'] = df2['host_acceptance_rate'].str.rstrip('%').astype('float') / 100
df2['host_acceptance_rate_missing'] = df2['host_acceptance_rate'].isna().astype(int)
df2['host_acceptance_rate'] = df2['host_acceptance_rate'].fillna(0)

In [ ]:
#5. Handle 'host_listings_count' missing values by filling with median
df2['host_listings_count'].describe()
df2['host_listings_count'].fillna(df2['host_listings_count'].median(), inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/431328649.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_listings_count'].fillna(df2['host_listings_count'].median(), inplace=True)

In [ ]:
#6. Handle 'host_total_listings_count' missing values by filling with median
df2['host_total_listings_count'].describe()
df2['host_total_listings_count'].fillna(df2['host_total_listings_count'].median(), inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/3660968078.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_total_listings_count'].fillna(df2['host_total_listings_count'].median(), inplace=True)

In [ ]:
#7. Handle host_has_profile_pic / host_identity_verified missing values by filling with mode
df2['host_has_profile_pic'].value_counts()
df2['host_has_profile_pic'].fillna(df2['host_has_profile_pic'].mode()[0], inplace=True)
df2['host_identity_verified'].fillna(df2['host_identity_verified'].mode()[0], inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/121488366.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_has_profile_pic'].fillna(df2['host_has_profile_pic'].mode()[0], inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/121488366.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_identity_verified'].fillna(df2['host_identity_verified'].mode()[0], inplace=True)

In [ ]:
#8. Handle 'bathrooms' missing values with bathrooms_text
# Only get the numeric part from bathrooms_text and convert to float
df2['bathrooms_text'].head(20)

0            1 bath
1            1 bath
2            1 bath
3            1 bath
4            1 bath
5     1 shared bath
6            1 bath
7         1.5 baths
8            1 bath
9            1 bath
10           1 bath
11           1 bath
12           1 bath
13           1 bath
14           1 bath
15           1 bath
16           1 bath
17           1 bath
18           1 bath
19           1 bath
Name: bathrooms_text, dtype: object

In [ ]:
# Get the numeric part from bathrooms_text and convert to series
br = df2['bathrooms_text'].str.extract(r'([\d\.]+)').astype(float)
df2['bathrooms'].fillna(br[0], inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/168977728.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bathrooms'].fillna(br[0], inplace=True)

In [ ]:
df2['bathrooms'].fillna(0, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/821410429.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bathrooms'].fillna(0, inplace=True)

In [ ]:
df2.drop(columns=['bathrooms_text'], inplace=True)

In [ ]:
#9. Handle 'bedrooms' missing values by filling with median
bed_med = df2['bedrooms'].median()
df2['bedrooms'].fillna(bed_med, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/2076563643.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bedrooms'].fillna(bed_med, inplace=True)

In [ ]:
#10. Handle prices by creating missing indicator and filling with median
df2['price'] = df2['price'].str.replace('[\$,]', '', regex=True).astype(float)

In [ ]:
df2['price_missing'] = df2['price'].isna().astype(int)

In [ ]:
df2.groupby('room_type')['price'].mean()

room_type
Entire home/apt    288.440323
Hotel room         563.929360
Private room       224.268913
Shared room         72.293651
Name: price, dtype: float64

In [ ]:
price_pred = df2.groupby(['room_type','accommodates'])['price'].median()
price_pred

room_type        accommodates
Entire home/apt  1                 66.0
                 2                119.0
                 3                144.0
                 4                195.0
                 5                267.0
                 6                335.5
                 7                387.0
                 8                513.0
                 9                585.0
                 10               580.0
                 11               525.0
                 12               711.0
                 13               749.5
                 14               920.0
                 15               447.0
                 16              1334.0
Hotel room       1                247.0
                 2                338.5
                 3                370.0
                 4                507.0
                 5                358.5
                 6                637.0
                 8                893.0
Private room     1                 65.0
                 2                100.0
                 3                170.0
                 4                215.5
                 5                251.0
                 6                312.0
                 7                292.0
                 8                728.0
                 10              1386.0
                 12               660.0
                 14               782.0
                 16              1150.0
Shared room      1                 52.5
                 2                 65.0
                 3                 87.0
                 4                192.0
                 5                228.0
                 6                 27.0
                 8                  NaN
Name: price, dtype: float64

In [ ]:
df2['price'] = df2.groupby(['room_type', 'accommodates'])['price'].transform(lambda x: x.fillna(x.median()))

In [ ]:
#11. Review missing values
df2['review_rating_missing'] = df2['review_scores_rating'].isna().astype(int)
df2['review_accuracy_missing'] = df2['review_scores_accuracy'].isna().astype(int)
df2['review_clenliness_missing'] = df2['review_scores_cleanliness'].isna().astype(int)
df2['review_checkin_missing'] = df2['review_scores_checkin'].isna().astype(int)
df2['review_communication_missing'] = df2['review_scores_communication'].isna().astype(int)
df2['review_location_missing'] = df2['review_scores_location'].isna().astype(int)
df2['review_value_missing'] = df2['review_scores_value'].isna().astype(int)

df2['review_scores_rating'].fillna(0, inplace=True)
df2['review_scores_accuracy'].fillna(0, inplace=True)
df2['review_scores_cleanliness'].fillna(0, inplace=True)
df2['review_scores_checkin'].fillna(0, inplace=True)
df2['review_scores_communication'].fillna(0, inplace=True)
df2['review_scores_location'].fillna(0, inplace=True)
df2['review_scores_value'].fillna(0, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_rating'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_accuracy'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_cleanliness'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_checkin'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_communication'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_location'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/4016069527.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_value'].fillna(0, inplace=True)

In [ ]:
#12. Reviews per month
df2['reviews_per_month_missing'] = df2['reviews_per_month'].isna().astype(int)
df2['reviews_per_month'].fillna(0, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_45508/428913631.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['reviews_per_month'].fillna(0, inplace=True)

In [ ]:
#13. Final check
df2.isnull().sum()

host_is_superhost                               0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_listings_count                             0
host_total_listings_count                       0
host_has_profile_pic                            0
host_identity_verified                          0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
amenities                                       0
price                                           1
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
availability_eoy                                0
number_of_reviews_ly                            0
estimated_occupancy_l365d                       0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
host_response_rate_missing                      0
host_acceptance_rate_missing                    0
price_missing                                   0
review_rating_missing                           0
review_accuracy_missing                         0
review_clenliness_missing                       0
review_checkin_missing                          0
review_communication_missing                    0
review_location_missing                         0
review_value_missing                            0
reviews_per_month_missing                       0
dtype: int64

In [ ]:
df2.shape

(82227, 57)

In [ ]:
# Drop rows with any remaining missing values
df2.dropna(inplace=True)
df2.shape

(82226, 57)

#### 1.2 Encoding

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82226 entries, 0 to 84054
Data columns (total 57 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_is_superhost                             82226 non-null  object
 1   host_response_time                            82226 non-null  object
 2   host_response_rate                            82226 non-null  float64
 3   host_acceptance_rate                          82226 non-null  float64
 4   host_listings_count                           82226 non-null  float64
 5   host_total_listings_count                     82226 non-null  float64
 6   host_has_profile_pic                          82226 non-null  object
 7   host_identity_verified                        82226 non-null  object
 8   property_type                                 82226 non-null  object
 9   room_type                                     82226 non-null  object
 10  accommodates                                  82226 non-null  int64
 11  bathrooms                                     82226 non-null  float64
 12  bedrooms                                      82226 non-null  float64
 13  amenities                                     82226 non-null  object
 14  price                                         82226 non-null  float64
 15  minimum_nights                                82226 non-null  int64
 16  maximum_nights                                82226 non-null  int64
 17  minimum_minimum_nights                        82226 non-null  int64
 18  maximum_minimum_nights                        82226 non-null  int64
 19  minimum_maximum_nights                        82226 non-null  int64
 20  maximum_maximum_nights                        82226 non-null  int64
 21  minimum_nights_avg_ntm                        82226 non-null  float64
 22  maximum_nights_avg_ntm                        82226 non-null  float64
 23  availability_30                               82226 non-null  int64
 24  availability_60                               82226 non-null  int64
 25  availability_90                               82226 non-null  int64
 26  availability_365                              82226 non-null  int64
 27  number_of_reviews                             82226 non-null  int64
 28  number_of_reviews_ltm                         82226 non-null  int64
 29  number_of_reviews_l30d                        82226 non-null  int64
 30  availability_eoy                              82226 non-null  int64
 31  number_of_reviews_ly                          82226 non-null  int64
 32  estimated_occupancy_l365d                     82226 non-null  int64
 33  review_scores_rating                          82226 non-null  float64
 34  review_scores_accuracy                        82226 non-null  float64
 35  review_scores_cleanliness                     82226 non-null  float64
 36  review_scores_checkin                         82226 non-null  float64
 37  review_scores_communication                   82226 non-null  float64
 38  review_scores_location                        82226 non-null  float64
 39  review_scores_value                           82226 non-null  float64
 40  instant_bookable                              82226 non-null  object
 41  calculated_host_listings_count                82226 non-null  int64
 42  calculated_host_listings_count_entire_homes   82226 non-null  int64
 43  calculated_host_listings_count_private_rooms  82226 non-null  int64
 44  calculated_host_listings_count_shared_rooms   82226 non-null  int64
 45  reviews_per_month                             82226 non-null  float64
 46  host_response_rate_missing                    82226 non-null  int64
 47  host_acceptance_rate_missing                  82226 non-null  int64
 48  price_missing                                 82226 non-null  int64
 49  review_rating_missing                         82226 non-null  int64
 50  review_accuracy_missing                       82226 non-null  int64
 51  review_clenliness_missing                     82226 non-null  int64
 52  review_checkin_missing                        82226 non-null  int64
 53  review_communication_missing                  82226 non-null  int64
 54  review_location_missing                       82226 non-null  int64
 55  review_value_missing                          82226 non-null  int64
 56  reviews_per_month_missing                     82226 non-null  int64
dtypes: float64(17), int64(32), object(8)
memory usage: 36.4+ MB

In [ ]:
df2.drop(columns=['property_type'], inplace=True)
df3 = df2.copy()

In [ ]:
df3 = df2.copy()

In [ ]:
# Count the amenities for each listing
df3['amenities'] = df3['amenities'].apply(lambda x: len(x.split(',')))

In [ ]:
df3['amenities'].head()

0    15
1    38
2    25
3    44
4     7
Name: amenities, dtype: int64

In [ ]:
# Columns that are categorical and need encoding
cat_cols = [ 'host_response_time',
 'host_has_profile_pic',
 'host_identity_verified',
 'room_type',
 'instant_bookable']
cat_cols

['host_response_time',
 'host_has_profile_pic',
 'host_identity_verified',
 'room_type',
 'instant_bookable']

In [ ]:
df3 = pd.get_dummies(df3, columns = cat_cols, dtype=int,drop_first=True)

In [ ]:
df3.shape

(82226, 61)

In [ ]:
df3.head()

,host_is_superhost,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,accommodates,bathrooms,bedrooms,amenities,price,...,host_response_time_a few days or more,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour,host_has_profile_pic_t,host_identity_verified_t,room_type_Hotel room,room_type_Private room,room_type_Shared room,instant_bookable_t
0,f,1.0,1.00,1.0,1.0,2,1.0,1.0,15,135.0,...,0,0,0,1,1,1,0,0,0,0
1,f,1.0,0.95,2.0,4.0,2,1.0,0.0,38,114.0,...,0,0,0,1,1,1,0,0,0,0
2,t,1.0,0.67,1.0,10.0,4,1.0,2.0,25,149.0,...,0,0,0,1,1,1,0,0,0,0
3,f,0.0,0.00,1.0,1.0,3,1.0,2.0,44,144.0,...,0,0,0,0,1,1,0,0,0,0
4,f,0.0,0.00,2.0,4.0,1,1.0,1.0,7,75.0,...,0,0,0,0,1,1,0,0,0,0

#### 1.3 Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
y = df3.iloc[:, 0]
x = df3.iloc[:, 1:]

In [ ]:
x.head()

,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,accommodates,bathrooms,bedrooms,amenities,price,minimum_nights,...,host_response_time_a few days or more,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour,host_has_profile_pic_t,host_identity_verified_t,room_type_Hotel room,room_type_Private room,room_type_Shared room,instant_bookable_t
0,1.0,1.00,1.0,1.0,2,1.0,1.0,15,135.0,2,...,0,0,0,1,1,1,0,0,0,0
1,1.0,0.95,2.0,4.0,2,1.0,0.0,38,114.0,1,...,0,0,0,1,1,1,0,0,0,0
2,1.0,0.67,1.0,10.0,4,1.0,2.0,25,149.0,10,...,0,0,0,1,1,1,0,0,0,0
3,0.0,0.00,1.0,1.0,3,1.0,2.0,44,144.0,7,...,0,0,0,0,1,1,0,0,0,0
4,0.0,0.00,2.0,4.0,1,1.0,1.0,7,75.0,180,...,0,0,0,0,1,1,0,0,0,0

In [ ]:
y.shape

(82226,)

In [ ]:
x.shape

(82226, 60)

In [ ]:
scaler = StandardScaler()
scaler_model = scaler.fit(x)
scaled_x = scaler_model.transform(x)

In [ ]:
scaled_x = pd.DataFrame(scaled_x, columns=x.columns)
scaled_x.shape

(82226, 60)

In [ ]:
pd.DataFrame.to_csv(scaled_x, 'airbnb_cleaned_x.csv', index=False)
pd.DataFrame.to_csv(y, 'airbnb_cleaned_y.csv', index=False)

In [ ]:
pd.read_csv('airbnb_cleaned_x.csv').shape

(82226, 60)

In [ ]:
pd.read_csv('airbnb_cleaned_y.csv').shape

(82226, 1)

### 2. Modeling

#### 2.1 LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression(max_iter=1000)

In [ ]:
lr_scores = cross_val_score(lr, scaled_x, y, cv=5)
print(lr_scores.mean())

0.8487215241811311

#### 2.2 Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [ ]:
dtc_ent = DecisionTreeClassifier(criterion="entropy")
dtc_gini = DecisionTreeClassifier(criterion="gini")

In [ ]:
dtc_ent_model = dtc_ent.fit(scaled_x, y)
dtc_gini_model = dtc_gini.fit(scaled_x, y)

In [ ]:
nums = list(range(1,21))

In [ ]:
for n in nums:
    dt_ent_n = DecisionTreeClassifier(criterion='entropy', max_depth=n)
    dt_ent_model = dt_ent_n.fit(scaled_x, y)
    scores = cross_val_score(dt_ent_model, scaled_x, y, cv=5)
    print(f"Max Depth: {n}, Mean Score: {scores.mean()}")

# max depth is 11 / Mean Score: 0.8807

Max Depth: 1, Mean Score: 0.7908812296576204
Max Depth: 2, Mean Score: 0.8138172262414447
Max Depth: 3, Mean Score: 0.8560793482170954
Max Depth: 4, Mean Score: 0.8594480793754306
Max Depth: 5, Mean Score: 0.8715489804993795
Max Depth: 6, Mean Score: 0.8733974705613111
Max Depth: 7, Mean Score: 0.871184011120245
Max Depth: 8, Mean Score: 0.8740420130604608
Max Depth: 9, Mean Score: 0.8785053299359408
Max Depth: 10, Mean Score: 0.8791256169661384
Max Depth: 11, Mean Score: 0.8806579732255859
Max Depth: 12, Mean Score: 0.8795877842211297
Max Depth: 13, Mean Score: 0.8803661215139096
Max Depth: 14, Mean Score: 0.8778000622433787
Max Depth: 15, Mean Score: 0.8763649970362849
Max Depth: 16, Mean Score: 0.8745164374617287
Max Depth: 17, Mean Score: 0.8724732787740574
Max Depth: 18, Mean Score: 0.8710503597888399
Max Depth: 19, Mean Score: 0.8683626482490749
Max Depth: 20, Mean Score: 0.8661978676115059

In [ ]:
for n in nums:
    dt_gini_n = DecisionTreeClassifier(criterion='gini', max_depth=n)
    dt_gini_model = dt_gini_n.fit(scaled_x, y)
    scores = cross_val_score(dt_gini_model, scaled_x, y, cv=5)
    print(f"Max Depth: {n}, Mean Score: {scores.mean()}")

# max depth is 10 / Mean Score : 0.8840

Max Depth: 1, Mean Score: 0.7666550210835856
Max Depth: 2, Mean Score: 0.8509227375683605
Max Depth: 3, Mean Score: 0.8578793095932191
Max Depth: 4, Mean Score: 0.8671708188073209
Max Depth: 5, Mean Score: 0.8700409255576365
Max Depth: 6, Mean Score: 0.8758541591122528
Max Depth: 7, Mean Score: 0.8731785575590598
Max Depth: 8, Mean Score: 0.8791742684082833
Max Depth: 9, Mean Score: 0.8828349555472312
Max Depth: 10, Mean Score: 0.8840389282528776
Max Depth: 11, Mean Score: 0.8817646689293026
Max Depth: 12, Mean Score: 0.879879628537846
Max Depth: 13, Mean Score: 0.8789310592647996
Max Depth: 14, Mean Score: 0.8725340402027741
Max Depth: 15, Mean Score: 0.873628602995543
Max Depth: 16, Mean Score: 0.8709530413751342
Max Depth: 17, Mean Score: 0.8686544999607513
Max Depth: 18, Mean Score: 0.8683017884673898
Max Depth: 19, Mean Score: 0.8661856688854135
Max Depth: 20, Mean Score: 0.8642520036736683

### 2.3 Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [ ]:
rfc = RandomForestClassifier(n_estimators=5, random_state=0)
rfc_model = rfc.fit(scaled_x, y)

In [ ]:
# Choose the best n_estimators
n_estimators_options = [5, 10, 20, 50, 100, 150, 200, 250, 300]
for n in n_estimators_options:
    rfc = RandomForestClassifier(n_estimators=n, random_state=0)
    rfc_model = rfc.fit(scaled_x, y)
    scores = cross_val_score(rfc_model, scaled_x, y, cv=5)
    print(f"n_estimators: {n}, Mean Score: {scores.mean()}")

n_estimators: 5, Mean Score: 0.882141781572329
n_estimators: 10, Mean Score: 0.890095612766171
n_estimators: 20, Mean Score: 0.8954588615229765
n_estimators: 50, Mean Score: 0.899435689859369
n_estimators: 100, Mean Score: 0.9016004667994579
n_estimators: 150, Mean Score: 0.9021477330361742
n_estimators: 200, Mean Score: 0.9026950007518826
n_estimators: 250, Mean Score: 0.9025490538204084
n_estimators: 300, Mean Score: 0.9027558028528795

In [ ]:
# Use GridSearchCV to find the best parameters for RandomForestClassifier
param_grid = {
    'n_estimators': [150, 200, 250],
    'max_depth': [10, 15, 20]}

grid_search = GridSearchCV(estimator=RandomForestClassifier(random_state=0), param_grid=param_grid, cv=5)
grid_search.fit(scaled_x, y)

grid_search.best_params_

{'max_depth': 20, 'n_estimators': 200}

In [ ]:
grid_search.best_score_

np.float64(0.9024395832688585)

#### 2.4 Neural Networks

In [ ]:
from sklearn.neural_network import MLPClassifier
import numpy as np

In [ ]:
# mlp = MLPClassifier(activation='relu', hidden_layer_sizes=(1), max_iter=2000, random_state=0)

In [ ]:
nums = [4, 8, 16, 32, 64]

In [ ]:
## single hidden layer sizes
for n in nums:
    mlp_n = MLPClassifier(activation='relu', hidden_layer_sizes=(n), max_iter=2000, random_state=0)
    scores = cross_val_score(mlp_n, scaled_x, y, cv=5)
    mean = np.mean(scores)
    print(str(n) + ": " + str(mean))

#16 gives the best score 0.8877

4: 0.8766323973125679
8: 0.8823241227996712
16: 0.887736091032254
32: 0.8828960142533419
64: 0.8787854103502152

In [ ]:
## 2 layer hidden layer sizes
import itertools

a = b = [8, 16, 32]
ab = list(itertools.product(a, b))
print(ab)

[(8, 8), (8, 16), (8, 32), (16, 8), (16, 16), (16, 32), (32, 8), (32, 16), (32, 32)]

In [ ]:
for n in ab:
    mlp_n2 = MLPClassifier(activation='relu', hidden_layer_sizes=n, max_iter=2000, random_state=0)
    scores = cross_val_score(mlp_n2, scaled_x, y, cv=5)
    mean = np.mean(scores)
    print(str(n) + ": " + str(mean))

# The best score is 0.88939 with hidden layer sizes (8, 8)

(8, 8): 0.889390045577727
(8, 16): 0.8859240514678867
(8, 32): 0.8853402215907173
(16, 8): 0.8819717085837036
(16, 16): 0.88839282782052
(16, 32): 0.888636091686708
(32, 8): 0.8827622327706397
(32, 16): 0.8819717462979998
(32, 32): 0.87871238659875

In [ ]:
## 3 layer hidden layer sizes

a = b = c = [8, 16]
abc = list(itertools.product(a, b, c))
print(abc)

NameError: name 'itertools' is not defined

In [ ]:
for n in abc:
    mlp_n3 = MLPClassifier(activation='relu', hidden_layer_sizes=n, max_iter=2000, random_state=0)
    scores = cross_val_score(mlp_n3, scaled_x, y, cv=5)
    mean = np.mean(scores)
    print(str(n) + ": " + str(mean))

In [ ]:
test = pd.read_excel('test_f25.xlsx')
test.isnull().sum()

No                                                0
host_is_superhost                               130
host_response_time                               34
host_response_rate                               34
host_acceptance_rate                             34
host_listings_count                               1
host_total_listings_count                         1
host_has_profile_pic                              1
host_identity_verified                            1
property_type                                     0
room_type                                         0
accommodates                                      0
bathrooms                                        47
bathrooms_text                                    0
bedrooms                                         12
beds                                             47
amenities                                         0
price                                            47
minimum_nights                                    0
maximum_nights                                    0
minimum_minimum_nights                            0
maximum_minimum_nights                            0
minimum_maximum_nights                            0
maximum_maximum_nights                            0
minimum_nights_avg_ntm                            0
maximum_nights_avg_ntm                            0
calendar_updated                                130
has_availability                                  6
availability_30                                   0
availability_60                                   0
availability_90                                   0
availability_365                                  0
calendar_last_scraped                             0
number_of_reviews                                 0
number_of_reviews_ltm                             0
number_of_reviews_l30d                            0
availability_eoy                                  0
number_of_reviews_ly                              0
estimated_occupancy_l365d                         0
estimated_revenue_l365d                          47
first_review                                     30
last_review                                      30
review_scores_rating                             30
review_scores_accuracy                           31
review_scores_cleanliness                        30
review_scores_checkin                            31
review_scores_communication                      31
review_scores_location                           31
review_scores_value                              31
instant_bookable                                  0
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                                30
dtype: int64