### 0. Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Paris airbnb listing.xlsx")
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3109,https://www.airbnb.com/rooms/3109,20250606142312,2025-06-20,city scrape,zen and calm,Lovely Appartment with one bedroom with a Quee...,Good restaurants<br />very close the Montparna...,https://a0.muscache.com/pictures/miso/Hosting-...,3631,...,5.00,5.00,5.00,7511409139079,f,1,1,0,0,0.08
1,5396,https://www.airbnb.com/rooms/5396,20250606142312,2025-06-19,city scrape,Your perfect Paris studio on Île Saint-Louis,"Cozy, well-appointed and graciously designed s...","You are within walking distance to the Louvre,...",https://a0.muscache.com/pictures/52413/f9bf76f...,7903,...,4.85,4.95,4.59,7510402838018,f,1,1,0,0,2.32
2,7397,https://www.airbnb.com/rooms/7397,20250606142312,2025-06-20,city scrape,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !",NaN,https://a0.muscache.com/pictures/67928287/330b...,2626,...,4.89,4.94,4.74,7510400829623,f,1,1,0,0,2.20
3,7964,https://www.airbnb.com/rooms/7964,20250606142312,2025-06-18,previous scrape,Sunny apartment with balcony,"We are renting our a spacious, sunny fully fur...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,22155,...,5.00,5.00,5.00,7510903576564,f,1,1,0,0,0.03
4,9359,https://www.airbnb.com/rooms/9359,20250606142312,2025-06-18,city scrape,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,NaN,https://a0.muscache.com/pictures/c2965945-061f...,28422,...,NaN,NaN,NaN,"Available with a mobility lease only (""bail mo...",f,1,1,0,0,NaN

In [3]:
cols= df.columns.tolist()
print(cols)

['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [4]:
# drop unnecessary columns
drop_cols = ['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 
             'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 
             'host_location', 'host_about', 'host_thumbnail_url','host_picture_url','host_neighbourhood',
               'host_verifications','neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
               'latitude', 'longitude', 'beds', 'has_availability', 'calendar_last_scraped',  'first_review',
               'last_review','estimated_revenue_l365d','license','calendar_updated',]

In [5]:
df2 = df.drop(columns=drop_cols)
df2.columns.tolist()

['host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'availability_eoy',
 'number_of_reviews_ly',
 'estimated_occupancy_l365d',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [6]:
df2.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,room_type,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,within an hour,100%,100%,f,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.08
1,within an hour,100%,95%,f,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,4.81,4.85,4.95,4.59,f,1,1,0,0,2.32
2,within an hour,100%,67%,t,1.0,10.0,t,t,Entire rental unit,Entire home/apt,...,4.92,4.89,4.94,4.74,f,1,1,0,0,2.20
3,NaN,NaN,NaN,f,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.03
4,NaN,NaN,NaN,f,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [7]:
df_cols = df2.columns.tolist()
df_cols[3]

'host_is_superhost'

In [8]:
cols1 = [df_cols[3]] + df_cols[:3] + df_cols[4:]

In [9]:
df2 = df2[cols1]
df2.head()

,host_is_superhost,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,room_type,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,f,within an hour,100%,100%,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.08
1,f,within an hour,100%,95%,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,4.81,4.85,4.95,4.59,f,1,1,0,0,2.32
2,t,within an hour,100%,67%,1.0,10.0,t,t,Entire rental unit,Entire home/apt,...,4.92,4.89,4.94,4.74,f,1,1,0,0,2.20
3,f,NaN,NaN,NaN,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.03
4,f,NaN,NaN,NaN,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [10]:
df2.shape

(84055, 47)

### 1. Data Preprocessing

#### 1.1 Missing Values

In [11]:
print(df2.columns)

Index(['host_is_superhost', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_listings_count',
       'host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bathrooms_text', 'bedrooms', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84055 entries, 0 to 84054
Data columns (total 47 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_is_superhost                             82227 non-null  object
 1   host_response_time                            52663 non-null  object
 2   host_response_rate                            52663 non-null  object
 3   host_acceptance_rate                          57913 non-null  object
 4   host_listings_count                           84029 non-null  float64
 5   host_total_listings_count                     84029 non-null  float64
 6   host_has_profile_pic                          84029 non-null  object
 7   host_identity_verified                        84029 non-null  object
 8   property_type                                 84055 non-null  object
 9   room_type                                     84055 non-null  object
 10  accommodates                                  84055 non-null  int64
 11  bathrooms                                     54297 non-null  float64
 12  bathrooms_text                                83982 non-null  object
 13  bedrooms                                      76918 non-null  float64
 14  amenities                                     84055 non-null  object
 15  price                                         53963 non-null  object
 16  minimum_nights                                84055 non-null  int64
 17  maximum_nights                                84055 non-null  int64
 18  minimum_minimum_nights                        84055 non-null  int64
 19  maximum_minimum_nights                        84055 non-null  int64
 20  minimum_maximum_nights                        84055 non-null  int64
 21  maximum_maximum_nights                        84055 non-null  int64
 22  minimum_nights_avg_ntm                        84055 non-null  float64
 23  maximum_nights_avg_ntm                        84055 non-null  float64
 24  availability_30                               84055 non-null  int64
 25  availability_60                               84055 non-null  int64
 26  availability_90                               84055 non-null  int64
 27  availability_365                              84055 non-null  int64
 28  number_of_reviews                             84055 non-null  int64
 29  number_of_reviews_ltm                         84055 non-null  int64
 30  number_of_reviews_l30d                        84055 non-null  int64
 31  availability_eoy                              84055 non-null  int64
 32  number_of_reviews_ly                          84055 non-null  int64
 33  estimated_occupancy_l365d                     84055 non-null  int64
 34  review_scores_rating                          64498 non-null  float64
 35  review_scores_accuracy                        64486 non-null  float64
 36  review_scores_cleanliness                     64489 non-null  float64
 37  review_scores_checkin                         64479 non-null  float64
 38  review_scores_communication                   64488 non-null  float64
 39  review_scores_location                        64480 non-null  float64
 40  review_scores_value                           64479 non-null  float64
 41  instant_bookable                              84055 non-null  object
 42  calculated_host_listings_count                84055 non-null  int64
 43  calculated_host_listings_count_entire_homes   84055 non-null  int64
 44  calculated_host_listings_count_private_rooms  84055 non-null  int64
 45  calculated_host_listings_count_shared_rooms   84055 non-null  int64
 46  reviews_per_month                             64498 non-null  float64
dtypes: float64(14), int64(21), object(12)
memory usage: 30.1+ MB

In [13]:
df2.isnull().sum()

host_is_superhost                                1828
host_response_time                              31392
host_response_rate                              31392
host_acceptance_rate                            26142
host_listings_count                                26
host_total_listings_count                          26
host_has_profile_pic                               26
host_identity_verified                             26
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       29758
bathrooms_text                                     73
bedrooms                                         7137
amenities                                           0
price                                           30092
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
availability_eoy                                    0
number_of_reviews_ly                                0
estimated_occupancy_l365d                           0
review_scores_rating                            19557
review_scores_accuracy                          19569
review_scores_cleanliness                       19566
review_scores_checkin                           19576
review_scores_communication                     19567
review_scores_location                          19575
review_scores_value                             19576
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               19557
dtype: int64

In [14]:
# 1. Drop rows with missing target values
df2.dropna(subset=['host_is_superhost'], inplace=True)

In [15]:
# 2. Handle missing values in 'host_response_time' by filling with 'Unknown'
df2['host_response_time'].value_counts()

host_response_time
within an hour        30644
within a few hours    10349
within a day           7301
a few days or more     2928
Name: count, dtype: int64

In [16]:
df2['host_response_time'].fillna('Unknown', inplace=True)
df2.head()

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/2871519219.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_response_time'].fillna('Unknown', inplace=True)

,host_is_superhost,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,room_type,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,f,within an hour,100%,100%,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.08
1,f,within an hour,100%,95%,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,4.81,4.85,4.95,4.59,f,1,1,0,0,2.32
2,t,within an hour,100%,67%,1.0,10.0,t,t,Entire rental unit,Entire home/apt,...,4.92,4.89,4.94,4.74,f,1,1,0,0,2.20
3,f,Unknown,NaN,NaN,1.0,1.0,t,t,Entire rental unit,Entire home/apt,...,5.00,5.00,5.00,5.00,f,1,1,0,0,0.03
4,f,Unknown,NaN,NaN,2.0,4.0,t,t,Entire rental unit,Entire home/apt,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [17]:
# 3. Handle missing values in 'host_response_rate'

In [18]:
# Convert 'host_response_rate' to numeric
df2['host_response_rate'] = df2['host_response_rate'].str.rstrip('%').astype('float') / 100

In [19]:
df2['host_response_rate'].describe()

count    51222.000000
mean         0.915745
std          0.219213
min          0.000000
25%          0.970000
50%          1.000000
75%          1.000000
max          1.000000
Name: host_response_rate, dtype: float64

In [20]:
df2['host_response_rate_missing'] = df2['host_response_rate'].isna().astype(int)
df2['host_response_rate'] = df2['host_response_rate'].fillna(0)

In [21]:
# 4. Handle missing values in 'host_acceptance_rate'
df2['host_acceptance_rate'] = df2['host_acceptance_rate'].str.rstrip('%').astype('float') / 100
df2['host_acceptance_rate_missing'] = df2['host_acceptance_rate'].isna().astype(int)
df2['host_acceptance_rate'] = df2['host_acceptance_rate'].fillna(0)

In [22]:
#5. Handle 'host_listings_count' missing values by filling with median
df2['host_listings_count'].describe()
df2['host_listings_count'].fillna(df2['host_listings_count'].median(), inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/431328649.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_listings_count'].fillna(df2['host_listings_count'].median(), inplace=True)

In [23]:
#6. Handle 'host_total_listings_count' missing values by filling with median
df2['host_total_listings_count'].describe()
df2['host_total_listings_count'].fillna(df2['host_total_listings_count'].median(), inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/3660968078.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_total_listings_count'].fillna(df2['host_total_listings_count'].median(), inplace=True)

In [24]:
#7. Handle host_has_profile_pic / host_identity_verified missing values by filling with mode
df2['host_has_profile_pic'].value_counts()
df2['host_has_profile_pic'].fillna(df2['host_has_profile_pic'].mode()[0], inplace=True)
df2['host_identity_verified'].fillna(df2['host_identity_verified'].mode()[0], inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/121488366.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_has_profile_pic'].fillna(df2['host_has_profile_pic'].mode()[0], inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/121488366.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['host_identity_verified'].fillna(df2['host_identity_verified'].mode()[0], inplace=True)

In [25]:
#8. Handle 'bathrooms' missing values with bathrooms_text
# Only get the numeric part from bathrooms_text and convert to float
df2['bathrooms_text'].head(20)

0            1 bath
1            1 bath
2            1 bath
3            1 bath
4            1 bath
5     1 shared bath
6            1 bath
7         1.5 baths
8            1 bath
9            1 bath
10           1 bath
11           1 bath
12           1 bath
13           1 bath
14           1 bath
15           1 bath
16           1 bath
17           1 bath
18           1 bath
19           1 bath
Name: bathrooms_text, dtype: object

In [26]:
# Get the numeric part from bathrooms_text and convert to series
br = df2['bathrooms_text'].str.extract(r'([\d\.]+)').astype(float)
df2['bathrooms'].fillna(br[0], inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/168977728.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bathrooms'].fillna(br[0], inplace=True)

In [27]:
df2['bathrooms'].fillna(0, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/821410429.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bathrooms'].fillna(0, inplace=True)

In [28]:
df2.drop(columns=['bathrooms_text'], inplace=True)

In [29]:
#9. Handle 'bedrooms' missing values by filling with median
bed_med = df2['bedrooms'].median()
df2['bedrooms'].fillna(bed_med, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/2076563643.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['bedrooms'].fillna(bed_med, inplace=True)

In [33]:
#10. Handle prices by creating missing indicator and filling with median
df2['price'] = df2['price'].str.replace('[\$,]', '', regex=True).astype(float)

In [34]:
df2['price_missing'] = df2['price'].isna().astype(int)

In [35]:
df2.groupby('room_type')['price'].mean()

room_type
Entire home/apt    288.440323
Hotel room         563.929360
Private room       224.268913
Shared room         72.293651
Name: price, dtype: float64

In [36]:
price_pred = df2.groupby(['room_type','accommodates'])['price'].median()
price_pred

room_type        accommodates
Entire home/apt  1                 66.0
                 2                119.0
                 3                144.0
                 4                195.0
                 5                267.0
                 6                335.5
                 7                387.0
                 8                513.0
                 9                585.0
                 10               580.0
                 11               525.0
                 12               711.0
                 13               749.5
                 14               920.0
                 15               447.0
                 16              1334.0
Hotel room       1                247.0
                 2                338.5
                 3                370.0
                 4                507.0
                 5                358.5
                 6                637.0
                 8                893.0
Private room     1                 65.0
                 2                100.0
                 3                170.0
                 4                215.5
                 5                251.0
                 6                312.0
                 7                292.0
                 8                728.0
                 10              1386.0
                 12               660.0
                 14               782.0
                 16              1150.0
Shared room      1                 52.5
                 2                 65.0
                 3                 87.0
                 4                192.0
                 5                228.0
                 6                 27.0
                 8                  NaN
Name: price, dtype: float64

In [38]:
df2['price'] = df2.groupby(['room_type', 'accommodates'])['price'].transform(lambda x: x.fillna(x.median()))

In [40]:
#11. Review missing values
df2['review_rating_missing'] = df2['review_scores_rating'].isna().astype(int)
df2['review_accuracy_missing'] = df2['review_scores_accuracy'].isna().astype(int)
df2['review_clenliness_missing'] = df2['review_scores_cleanliness'].isna().astype(int)
df2['review_checkin_missing'] = df2['review_scores_checkin'].isna().astype(int)
df2['review_communication_missing'] = df2['review_scores_communication'].isna().astype(int)
df2['review_location_missing'] = df2['review_scores_location'].isna().astype(int)
df2['review_value_missing'] = df2['review_scores_value'].isna().astype(int)

df2['review_scores_rating'].fillna(0, inplace=True)
df2['review_scores_accuracy'].fillna(0, inplace=True)
df2['review_scores_cleanliness'].fillna(0, inplace=True)
df2['review_scores_checkin'].fillna(0, inplace=True)
df2['review_scores_communication'].fillna(0, inplace=True)
df2['review_scores_location'].fillna(0, inplace=True)
df2['review_scores_value'].fillna(0, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_rating'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_accuracy'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_cleanliness'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_checkin'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_communication'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_location'].fillna(0, inplace=True)
/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/4016069527.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['review_scores_value'].fillna(0, inplace=True)

In [41]:
#12. Reviews per month
df2['reviews_per_month_missing'] = df2['reviews_per_month'].isna().astype(int)
df2['reviews_per_month'].fillna(0, inplace=True)

/var/folders/gx/_f61ngf91hq2y51c1jv2qkkr0000gn/T/ipykernel_41038/428913631.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['reviews_per_month'].fillna(0, inplace=True)

In [45]:
#13. Final check
df2.isnull().sum()

host_is_superhost                               0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_listings_count                             0
host_total_listings_count                       0
host_has_profile_pic                            0
host_identity_verified                          0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
amenities                                       0
price                                           1
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
availability_eoy                                0
number_of_reviews_ly                            0
estimated_occupancy_l365d                       0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
host_response_rate_missing                      0
host_acceptance_rate_missing                    0
price_missing                                   0
review_rating_missing                           0
review_accuracy_missing                         0
review_clenliness_missing                       0
review_checkin_missing                          0
review_communication_missing                    0
review_location_missing                         0
review_value_missing                            0
reviews_per_month_missing                       0
dtype: int64

In [46]:
df2.shape

(82227, 57)

In [52]:
# Drop rows with any remaining missing values
df2.dropna(inplace=True)
df2.shape

(82226, 57)

#### 1.2 Encoding

In [108]:
test = pd.read_excel('test_f25.xlsx')
test.isnull().sum()

No                                                0
host_is_superhost                               130
host_response_time                               34
host_response_rate                               34
host_acceptance_rate                             34
host_listings_count                               1
host_total_listings_count                         1
host_has_profile_pic                              1
host_identity_verified                            1
property_type                                     0
room_type                                         0
accommodates                                      0
bathrooms                                        47
bathrooms_text                                    0
bedrooms                                         12
beds                                             47
amenities                                         0
price                                            47
minimum_nights                                    0
maximum_nights                                    0
minimum_minimum_nights                            0
maximum_minimum_nights                            0
minimum_maximum_nights                            0
maximum_maximum_nights                            0
minimum_nights_avg_ntm                            0
maximum_nights_avg_ntm                            0
calendar_updated                                130
has_availability                                  6
availability_30                                   0
availability_60                                   0
availability_90                                   0
availability_365                                  0
calendar_last_scraped                             0
number_of_reviews                                 0
number_of_reviews_ltm                             0
number_of_reviews_l30d                            0
availability_eoy                                  0
number_of_reviews_ly                              0
estimated_occupancy_l365d                         0
estimated_revenue_l365d                          47
first_review                                     30
last_review                                      30
review_scores_rating                             30
review_scores_accuracy                           31
review_scores_cleanliness                        30
review_scores_checkin                            31
review_scores_communication                      31
review_scores_location                           31
review_scores_value                              31
instant_bookable                                  0
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                                30
dtype: int64